/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: FieldTable;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 7pt;
	margin-bottom: 0pt;
	border-spacing-x: 0;
	border-spacing-y: 0;
	border-collapse: collapse;
	border-left-color: #000000;
	border-right-color: #000000;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-top-style: none;
	border-bottom-style: none;
	border-right-style: none;
	border-left-style: none;
	cell-padding-top: 3pt;
	cell-padding-left: 3pt;
	cell-padding-right: 3pt;
	cell-padding-bottom: 3pt;
	max-id: 4;
}

mcTableColumnStyle
{
	separator-style: none;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2pt;
	separator-color: #000000;
	name: Header1;
	id: 3;
}

mcTableBodyStyle
{
	span: 0;
	separator-style: none;
	background-color: #ffffff;
	name: Body1;
	id: 1;
}

mcTableBodyStyle
{
	span: 0;
	separator-style: none;
	background-color: #ffffff;
	name: Body2;
	id: 2;
}

mcTableFootStyle
{
	name: Footer1;
	id: 4;
}


/* Cell Styles: */
 
.TableStyle-FieldTable
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-color: #000000;
	border-right-style: none;
	border-right-color: #000000;
	border-top-style: none;
	border-top-color: #000000;
	border-bottom-style: none;
	border-bottom-color: #000000;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 7pt;
	margin-bottom: 0pt;
	border-spacing: 0px 0px;
}

.TableStyle-FieldTable-Column-Column1
{
	
}

.TableStyle-FieldTable-Head-Header1
{
	
}

.TableStyle-FieldTable-HeadI-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-FieldTable-HeadI-Column1-Header1 p
{
	
}

.TableStyle-FieldTable-HeadE-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-style: none;
	border-bottom-width: 2pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-FieldTable-HeadE-Column1-Header1 p
{
	
}

.TableStyle-FieldTable-HeadF-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-bottom-width: 2pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-FieldTable-HeadF-Column1-Header1 p
{
	
}

.TableStyle-FieldTable-HeadH-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle-FieldTable-HeadH-Column1-Header1 p
{
	
}

.TableStyle-FieldTable-HeadD-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-bottom-width: 2pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-FieldTable-HeadD-Column1-Header1 p
{
	
}

.TableStyle-FieldTable-HeadC-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-FieldTable-HeadC-Column1-Header1 p
{
	
}

.TableStyle-FieldTable-HeadB-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle-FieldTable-HeadB-Column1-Header1 p
{
	
}

.TableStyle-FieldTable-HeadA-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-FieldTable-HeadA-Column1-Header1 p
{
	
}

.TableStyle-FieldTable-HeadG-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-FieldTable-HeadG-Column1-Header1 p
{
	
}

.TableStyle-FieldTable-Foot-Footer1
{
	
}

.TableStyle-FieldTable-FootI-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-FieldTable-FootI-Column1-Footer1 p
{
	
}

.TableStyle-FieldTable-FootE-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle-FieldTable-FootE-Column1-Footer1 p
{
	
}

.TableStyle-FieldTable-FootF-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-FieldTable-FootF-Column1-Footer1 p
{
	
}

.TableStyle-FieldTable-FootH-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle-FieldTable-FootH-Column1-Footer1 p
{
	
}

.TableStyle-FieldTable-FootD-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-FieldTable-FootD-Column1-Footer1 p
{
	
}

.TableStyle-FieldTable-FootC-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-FieldTable-FootC-Column1-Footer1 p
{
	
}

.TableStyle-FieldTable-FootB-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle-FieldTable-FootB-Column1-Footer1 p
{
	
}

.TableStyle-FieldTable-FootA-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-FieldTable-FootA-Column1-Footer1 p
{
	
}

.TableStyle-FieldTable-FootG-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-FieldTable-FootG-Column1-Footer1 p
{
	
}

.TableStyle-FieldTable-Body-Body1
{
	
}

.TableStyle-FieldTable-BodyI-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	background-color: #ffffff;
}

.TableStyle-FieldTable-BodyI-Column1-Body1 p
{
	
}

.TableStyle-FieldTable-BodyE-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	background-color: #ffffff;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-FieldTable-BodyE-Column1-Body1 p
{
	
}

.TableStyle-FieldTable-BodyF-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	background-color: #ffffff;
	border-bottom-style: none;
}

.TableStyle-FieldTable-BodyF-Column1-Body1 p
{
	
}

.TableStyle-FieldTable-BodyH-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	background-color: #ffffff;
	border-right-style: none;
}

.TableStyle-FieldTable-BodyH-Column1-Body1 p
{
	
}

.TableStyle-FieldTable-BodyD-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	background-color: #ffffff;
	border-bottom-style: none;
}

.TableStyle-FieldTable-BodyD-Column1-Body1 p
{
	
}

.TableStyle-FieldTable-BodyC-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	background-color: #ffffff;
}

.TableStyle-FieldTable-BodyC-Column1-Body1 p
{
	
}

.TableStyle-FieldTable-BodyB-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	background-color: #ffffff;
	border-right-style: none;
}

.TableStyle-FieldTable-BodyB-Column1-Body1 p
{
	
}

.TableStyle-FieldTable-BodyA-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	background-color: #ffffff;
}

.TableStyle-FieldTable-BodyA-Column1-Body1 p
{
	
}

.TableStyle-FieldTable-BodyG-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	background-color: #ffffff;
}

.TableStyle-FieldTable-BodyG-Column1-Body1 p
{
	
}

.TableStyle-FieldTable-Body-Body2
{
	
}

.TableStyle-FieldTable-BodyI-Column1-Body2
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	background-color: #ffffff;
}

.TableStyle-FieldTable-BodyI-Column1-Body2 p
{
	
}

.TableStyle-FieldTable-BodyE-Column1-Body2
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	background-color: #ffffff;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-FieldTable-BodyE-Column1-Body2 p
{
	
}

.TableStyle-FieldTable-BodyF-Column1-Body2
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	background-color: #ffffff;
	border-bottom-style: none;
}

.TableStyle-FieldTable-BodyF-Column1-Body2 p
{
	
}

.TableStyle-FieldTable-BodyH-Column1-Body2
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	background-color: #ffffff;
	border-right-style: none;
}

.TableStyle-FieldTable-BodyH-Column1-Body2 p
{
	
}

.TableStyle-FieldTable-BodyD-Column1-Body2
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	background-color: #ffffff;
	border-bottom-style: none;
}

.TableStyle-FieldTable-BodyD-Column1-Body2 p
{
	
}

.TableStyle-FieldTable-BodyC-Column1-Body2
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	background-color: #ffffff;
}

.TableStyle-FieldTable-BodyC-Column1-Body2 p
{
	
}

.TableStyle-FieldTable-BodyB-Column1-Body2
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	background-color: #ffffff;
	border-right-style: none;
}

.TableStyle-FieldTable-BodyB-Column1-Body2 p
{
	
}

.TableStyle-FieldTable-BodyA-Column1-Body2
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	background-color: #ffffff;
}

.TableStyle-FieldTable-BodyA-Column1-Body2 p
{
	
}

.TableStyle-FieldTable-BodyG-Column1-Body2
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	background-color: #ffffff;
}

.TableStyle-FieldTable-BodyG-Column1-Body2 p
{
	
}


