/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: sn_ScreenNoCaption;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 12pt;
	margin-bottom: 0pt;
	border-spacing-x: 0;
	border-spacing-y: 0;
	border-collapse: collapse;
	border-left-color: #000000;
	border-right-color: #000000;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 3pt;
	border-right-style: solid;
	border-right-width: 3pt;
	border-left-style: solid;
	border-left-width: 1px;
	cell-padding-top: 4pt;
	cell-padding-left: 4pt;
	cell-padding-right: 4pt;
	cell-padding-bottom: 4pt;
	max-id: 4;
}

mcTableColumnStyle
{
	separator-style: none;
	ruler-style: none;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	name: Header1;
	id: 3;
}

mcTableBodyStyle
{
	span: 4;
	separator-style: none;
	ruler-style: none;
	name: Body1;
	id: 1;
}

mcTableBodyStyle
{
	span: 0;
	separator-style: none;
	ruler-style: none;
	name: Body2;
	id: 2;
}

mcTableFootStyle
{
	name: Footer1;
	id: 4;
}


/* Cell Styles: */
 
.TableStyle-sn_ScreenNoCaption
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 3pt;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 3pt;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 12pt;
	margin-bottom: 0pt;
	border-spacing: 0px 0px;
}

.TableStyle-sn_ScreenNoCaption-Column-Column1
{
	
}

.TableStyle-sn_ScreenNoCaption-Head-Header1
{
	
}

.TableStyle-sn_ScreenNoCaption-HeadI-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle-sn_ScreenNoCaption-HeadI-Column1-Header1 p
{
	
}

.TableStyle-sn_ScreenNoCaption-HeadE-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle-sn_ScreenNoCaption-HeadE-Column1-Header1 p
{
	
}

.TableStyle-sn_ScreenNoCaption-HeadF-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle-sn_ScreenNoCaption-HeadF-Column1-Header1 p
{
	
}

.TableStyle-sn_ScreenNoCaption-HeadH-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle-sn_ScreenNoCaption-HeadH-Column1-Header1 p
{
	
}

.TableStyle-sn_ScreenNoCaption-HeadD-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 4pt;
}

.TableStyle-sn_ScreenNoCaption-HeadD-Column1-Header1 p
{
	
}

.TableStyle-sn_ScreenNoCaption-HeadC-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle-sn_ScreenNoCaption-HeadC-Column1-Header1 p
{
	
}

.TableStyle-sn_ScreenNoCaption-HeadB-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle-sn_ScreenNoCaption-HeadB-Column1-Header1 p
{
	
}

.TableStyle-sn_ScreenNoCaption-HeadA-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 4pt;
}

.TableStyle-sn_ScreenNoCaption-HeadA-Column1-Header1 p
{
	
}

.TableStyle-sn_ScreenNoCaption-HeadG-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 4pt;
}

.TableStyle-sn_ScreenNoCaption-HeadG-Column1-Header1 p
{
	
}

.TableStyle-sn_ScreenNoCaption-Foot-Footer1
{
	
}

.TableStyle-sn_ScreenNoCaption-FootI-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle-sn_ScreenNoCaption-FootI-Column1-Footer1 p
{
	
}

.TableStyle-sn_ScreenNoCaption-FootE-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle-sn_ScreenNoCaption-FootE-Column1-Footer1 p
{
	
}

.TableStyle-sn_ScreenNoCaption-FootF-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle-sn_ScreenNoCaption-FootF-Column1-Footer1 p
{
	
}

.TableStyle-sn_ScreenNoCaption-FootH-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle-sn_ScreenNoCaption-FootH-Column1-Footer1 p
{
	
}

.TableStyle-sn_ScreenNoCaption-FootD-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 4pt;
}

.TableStyle-sn_ScreenNoCaption-FootD-Column1-Footer1 p
{
	
}

.TableStyle-sn_ScreenNoCaption-FootC-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle-sn_ScreenNoCaption-FootC-Column1-Footer1 p
{
	
}

.TableStyle-sn_ScreenNoCaption-FootB-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle-sn_ScreenNoCaption-FootB-Column1-Footer1 p
{
	
}

.TableStyle-sn_ScreenNoCaption-FootA-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 4pt;
}

.TableStyle-sn_ScreenNoCaption-FootA-Column1-Footer1 p
{
	
}

.TableStyle-sn_ScreenNoCaption-FootG-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 4pt;
}

.TableStyle-sn_ScreenNoCaption-FootG-Column1-Footer1 p
{
	
}

.TableStyle-sn_ScreenNoCaption-Body-Body1
{
	
}

.TableStyle-sn_ScreenNoCaption-BodyI-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 4pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-sn_ScreenNoCaption-BodyI-Column1-Body1 p
{
	
}

.TableStyle-sn_ScreenNoCaption-BodyE-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 4pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-sn_ScreenNoCaption-BodyE-Column1-Body1 p
{
	
}

.TableStyle-sn_ScreenNoCaption-BodyF-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 4pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-sn_ScreenNoCaption-BodyF-Column1-Body1 p
{
	
}

.TableStyle-sn_ScreenNoCaption-BodyH-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 4pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-sn_ScreenNoCaption-BodyH-Column1-Body1 p
{
	
}

.TableStyle-sn_ScreenNoCaption-BodyD-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 4pt;
	border-bottom-style: none;
}

.TableStyle-sn_ScreenNoCaption-BodyD-Column1-Body1 p
{
	
}

.TableStyle-sn_ScreenNoCaption-BodyC-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle-sn_ScreenNoCaption-BodyC-Column1-Body1 p
{
	
}

.TableStyle-sn_ScreenNoCaption-BodyB-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle-sn_ScreenNoCaption-BodyB-Column1-Body1 p
{
	
}

.TableStyle-sn_ScreenNoCaption-BodyA-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 4pt;
}

.TableStyle-sn_ScreenNoCaption-BodyA-Column1-Body1 p
{
	
}

.TableStyle-sn_ScreenNoCaption-BodyG-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 4pt;
	border-bottom-style: none;
}

.TableStyle-sn_ScreenNoCaption-BodyG-Column1-Body1 p
{
	
}

.TableStyle-sn_ScreenNoCaption-Body-Body2
{
	
}

.TableStyle-sn_ScreenNoCaption-BodyI-Column1-Body2
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 4pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-sn_ScreenNoCaption-BodyI-Column1-Body2 p
{
	
}

.TableStyle-sn_ScreenNoCaption-BodyE-Column1-Body2
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 4pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-sn_ScreenNoCaption-BodyE-Column1-Body2 p
{
	
}

.TableStyle-sn_ScreenNoCaption-BodyF-Column1-Body2
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 4pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-sn_ScreenNoCaption-BodyF-Column1-Body2 p
{
	
}

.TableStyle-sn_ScreenNoCaption-BodyH-Column1-Body2
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 4pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-sn_ScreenNoCaption-BodyH-Column1-Body2 p
{
	
}

.TableStyle-sn_ScreenNoCaption-BodyD-Column1-Body2
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 4pt;
	border-bottom-style: none;
}

.TableStyle-sn_ScreenNoCaption-BodyD-Column1-Body2 p
{
	
}

.TableStyle-sn_ScreenNoCaption-BodyC-Column1-Body2
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle-sn_ScreenNoCaption-BodyC-Column1-Body2 p
{
	
}

.TableStyle-sn_ScreenNoCaption-BodyB-Column1-Body2
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle-sn_ScreenNoCaption-BodyB-Column1-Body2 p
{
	
}

.TableStyle-sn_ScreenNoCaption-BodyA-Column1-Body2
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 4pt;
}

.TableStyle-sn_ScreenNoCaption-BodyA-Column1-Body2 p
{
	
}

.TableStyle-sn_ScreenNoCaption-BodyG-Column1-Body2
{
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 4pt;
	padding-bottom: 4pt;
	border-bottom-style: none;
}

.TableStyle-sn_ScreenNoCaption-BodyG-Column1-Body2 p
{
	
}


